// 文章内链接文本样式 
.post-body p a{ 
    color: #0593d3; 
    border-bottom: none; 
    border-bottom: 1px solid #0593d3; 
    &:hover { 
        color: #fc6423; 
        border-bottom: none; 
        border-bottom: 1px solid #fc6423; 
    } 
}

// 代码块 加圆角   
// 感谢 Alliot(https://www.iots.vip)
.highlight { border-radius: 5px;}
pre { border-radius: 5px;}

// 修改选中字符的颜色
/* webkit, opera, IE9 */
::selection { 
    background: #00c4b6;
    color: #f7f7f7; 
}
/* firefox */
::-moz-selection { 
    background: #00c4b6;
    color: #f7f7f7;    
}

// 修改网站头部颜色
.header {
    padding: 20px 0;
    opacity: 0.85;
    // color: #fff;
    // background: #49b1f5;
}

// 底部颜色
.footer {
    background: rgba(255,255,255,0);
    .footer-inner {
        color: #49b1f5;
    }
}

// 修改按键（button）样式
.btn {
    color: #49b1f5;
    background: #fff;
    border: 2px solid #49b1f5;
}
// 按键（button）点击时样式
.btn:hover {
  border-color: #49b1f5;
  color: #fff;
  background: #49b1f5;
}

// 鼠标移动至文章标题时的效果
.posts-expand .post-title-link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #49b1f5;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

//动态页面背景
body {
    background:url(https://source.unsplash.com/random/1600x900);
    // background:url(../images/background.jpg);
    background-repeat: repeat-x;
    background-attachment:fixed;
    background-size:cover;
    // background-size:100% 100%;
    background-position:50% 50%;
}

// 主页文章透明 
.main-inner { 
    margin-top: 60px;
    padding: 60px 60px 60px 60px;
    // background: #fff;
    background: rgba(255,255,255,0.85);
    // opacity: 0.85;
    min-height: 500px;
}

// 侧边栏
.sidebar {
    // p,span,a {color: #49b1f5;}
    // .site-description {color: #49b1f5;}
    background: rgba(0,0,0,0.85);
}

// 修改手机端的页面与左右边的距离
.main-inner {
  padding-bottom: 80px;

  +mobile() {
    padding: 5px 0;
    width: auto;
  }
}

// page-opacity
// .content-wrap {
//   opacity: 0.85;
// }
// .sidebar {
//   opacity: 0.85;
// }
// .header-inner {
//   background: rgba(255,255,255,0.1);
// }
// .popup {
//   opacity: 0.9;
// }

// // 主页文章添加阴影效果
// .post {
//     margin-top: 60px;
//     margin-bottom: 60px;
//     padding: 25px;
//     background:rgba(255,255,255,0.9) none repeat scroll !important;
//     -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
//     -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
// }

// .posts-expand {
//     .post-eof {
//         display: block;
//         margin: 60px auto 50px; //文章间距
//         width: 100%;  //分割线长度
//         height: 1px;
//         background: $grey-light;
//         text-align: center;
//     }
//     // .post-meta {
//     //   margin: 10px 0 10px 0;
//     // }
// }
