//动态页面背景
body {
    background:url(https://source.unsplash.com/random/1600x900);
    // background:url(../images/background.jpg);
    background-repeat: repeat-x;
    background-attachment:fixed;
    background-size:cover;
    // background-size:100% 100%;
    background-position:50% 50%;
}

// .header-inner{
//     background: #fff;
//     opacity: 0.8;
// }
.main-inner { 
    margin-top: 60px;
    padding: 60px 60px 60px 60px;
    background: #fff;
    opacity: 0.85;
    min-height: 500px;
}

// page-opacity
// .content-wrap {
//   opacity: 0.85;
// }
// .sidebar {
//   opacity: 0.85;
// }
// .header-inner {
//   background: rgba(255,255,255,0.1);
// }
// .popup {
//   opacity: 0.9;
// }

// 主页文章添加阴影效果
.post {
   margin-top: 60px;
   margin-bottom: 60px;
   padding: 25px;
   background:rgba(255,255,255,0.9) none repeat scroll !important;
   -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
   -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
}